a.squiffy-link
{
    text-decoration: none;
    color: yellow;
    cursor: pointer;
    font-size: 30px;
    text-align: right;
    
}

a.squiffy-link.disabled
{
    text-decoration: line-through;
    color: inherit !important;
    cursor: inherit;
}

a.squiffy-header-link
{    
    color: yellow;
    cursor: pointer;
    font-size: 30px;
    
}


div#squiffy-container
{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-family: Georgia, serif;
}
div#squiffy-header
{
    font-size: 14px;
    text-align: left;
}
div#squiffy
{
    font-size: 18px;
}
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 16px; margin-bottom: 16px;
} 
div#squiffy-container { text-align: justify; }

body
{
    background: url("cellbackground.png") left repeat;
    color: white
}





